@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

:root {
    --primary-color: #396e94;
    --secondary-color: #a43312;
    --accent1-color: #381d2a;
    --accent2-color: #aabd8c;
  
    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Merriweather', serif;
  
    --nav-background-color: #396e94;
    --nav-link-color: #XXXXXX;
    --nav-hover-link-color: #381d2a;
    --nav-hover-background-color: ;
  }

  body {
    max-width: 960px;
    padding: 20px;
  }
  /* */

  h1, h2, h3, h4, h5, h6 {
    font-family: var(Roboto);
    color: var(#396e94);
  }

  header {
    padding: 20px;
    background-color: var(#381d2a);
  }

  p {
    padding: 25px;
  }
  
  nav {
    background-color: var(#eee);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }