@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
body {
    font-family: Roboto,'Brush Script MT';
}

body {
    font-family: Georgia;
}

h1 {
    font-family: Rock Salt, 'Arial Black';
}